.project-page {
  .project-meta {
    margin-bottom: 40px;
  }

  dt {
    text-transform: uppercase;
    font-size: 0.9em;
    line-height: 1.8;
  }

  p { line-height: 1.7; }

  .subsection-title { margin-bottom: 10px; }
}
