.box-big {
  $moreBtnSize: 50px;

  margin-bottom: $gridGap;

  .img-container {
    width: 100%;
    margin-bottom: em(20px);

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .box-content-header {
    margin-bottom: em(20px);

    > * {
      margin-bottom: 5px;
    }

    @include media('>=sm') {
      display: flex;

      .date {
        margin-left: auto;
      }
    }
  }

  .more-btn {
    position: absolute;
    bottom: 0;
    right: 0;

    @include arrowBtn($moreBtnSize, 'right');
  }

  .box-content {
    padding: em(20px);
    padding-bottom: $moreBtnSize + 15px;
  }

  .box-inner {
    position: relative;

    @include media('>=md') {
      height: 100%;
    }
  }

  &.style-2 {
    @include media('>=lg') {
      .img-container {
        max-width: 40%;
        margin-bottom: 0;
      }

      .box-inner {
        display: flex;
      }

      .box-content {
        flex: 1;
      }
    }
  }
}
