$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px
);

//Fonts
$fontFamily: 'Lato', sans-serif;
$fontSize: 15px;
$fontColor: #a1a1a1;
$secondaryFontColor: #fff;

//Colors
$bodyBg: #2f3238;
$primaryColor: #23262c;
