$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px
);

//Fonts
$fontFamily: 'Lato', sans-serif;
$fontSize: 16px;

//Colors
$bodyBg: #2f3238;
$primaryColor: #23262c;
$secondaryColor: #e05b5b;
$fontColor: #a1a1a1;
$linkColor: #fff;
$secondaryFontColor: #fff;
