@import url('https://fonts.googleapis.com/css?family=Lato:300,300i');
@import "normalize.css";
@import "grid.scss";

html {
  font-size: 62.5%;
}

.cf { *zoom: 1; }

.cf::before,
.cf::after {
  display: table;
  content: "";
  line-height: 0;
}

.cf::after { clear: both; }

* {
  box-sizing: border-box;
}

ul {
  list-style: none;

  &.bulletList { list-style: disc; }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 300;
  margin: 0;
  text-rendering: optimizelegibility;
  line-height: 1.2;
  color: $secondaryFontColor;

  span {
    color: $secondaryColor;
  }
}

h1 {
  margin-bottom: 18px;
  font-size: em(30px);
}

h2 {
  margin-bottom: 15px;
  font-size: em(24px);
}

h3 {
  margin-bottom: 12px;
  font-size: em(18px);
}

h4 {
  margin-bottom: 12px;
  font-size: em(16px);
}

h5 {
  margin-bottom: 12px;
  font-size: em(14px);
}

h6 {
  margin-bottom: 10px;
  font-size: em(12px);
}

article {
  margin: 0 0 em(30px);
}

p { margin: 0 0 em(12px); }

body {
  background-color: $bodyBg;
  font-family: $fontFamily;
  color: $fontColor;
  font-size: $fontSizeMobile;
  line-height: 1.6;

  @include media('>=sm') {
    font-size: $fontSize;
  }
}

a {
  color: $linkColor;
  text-decoration: none;
  outline: none;
  transition: color $ColorTransitionDuration linear;

  &:hover {
    text-decoration: none;
  }

  &.underline { @include underline(); }

  &.secondaryLink:hover {
    color: $secondaryColor;
  }
}

figure {
  margin: 0 auto 20px;
  max-width: 100%;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

.text-left { text-align: left; }

.text-right { text-align: right; }

.content {
  @include container();

  > .container { padding: 0; }

  > .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  background-color: $primaryColor;
  min-height: 100vh;
  margin: 0 auto;
  padding: em(20px) em(20px);

  h1 {
    margin-bottom: 2em;
    font-size: em(25px);

    @include media('>=sm') {
      font-size: em(35px);
    }
  }

  @include media(">sm") {
    padding: em(60px) em(50px);
  }
}

.flex {
  display: flex;
}

.btn {
  @include btn();
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
