@import url('https://fonts.googleapis.com/css?family=Lato:300,300i');
@import "normalize.css";
@import "grid.scss";

html {
  font-size: 62.5%;
}

.cf { *zoom: 1; }

.cf::before,
.cf::after {
  display: table;
  content: "";
  line-height: 0;
}

.cf::after { clear: both; }

* {
  box-sizing: border-box;
}

ul {
  list-style: none;

  &.bulletList { list-style: disc; }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 300;
  margin: 0;
  text-rendering: optimizelegibility;
  line-height: 1.2;
  color: $secondaryFontColor;

  span {
    color: $secondaryColor;
  }
}

h1 {
  margin-bottom: 18px;
  font-size: em(30px);
}

h2 {
  margin-bottom: 15px;
  font-size: em(24px);
}

h3 {
  margin-bottom: 12px;
  font-size: em(18px);
}

h4 {
  margin-bottom: 12px;
  font-size: em(16px);
}

h5 {
  margin-bottom: 12px;
  font-size: em(14px);
}

h6 {
  margin-bottom: 10px;
  font-size: em(12px);
}

article {
  margin: 0 0 em(30px);
}

p { margin: 0 0 em(12px); }

body {
  background-color: $bodyBg;
  font-family: $fontFamily;
  color: $fontColor;
  font-size: $fontSizeMobile;
  line-height: 1.6;

  @include media('>=sm') {
    font-size: $fontSize;
  }
}

#react-view {
  overflow: hidden;
  min-height: 100vh;
}

a {
  color: $linkColor;
  text-decoration: none;
  outline: none;
  transition: color $ColorTransitionDuration linear;

  &:hover {
    text-decoration: none;
  }

  &.underline { @include underline(); }

  &.secondaryLink:hover,
  .secondaryLink &:hover {
    color: $secondaryColor;
  }
}

figure {
  margin: 0 auto 20px;
  max-width: 100%;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

.text-left { text-align: left; }

.text-right { text-align: right; }

.content {
  @include container();

  background-color: $primaryColor;
  min-height: 100vh;
  margin: 0 auto;
  padding: em(20px) em(20px);
  position: relative;

  h1 {
    margin-bottom: 2em;
    font-size: em(25px);

    @include media('>=sm') {
      font-size: em(35px);
    }
  }

  @include media(">sm") {
    padding: em(60px) em(50px);
  }
}

.flex {
  display: flex;
}

.btn {
  @include btn();
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.animated-page-enter-active,
.animated-page-leave-active {
  transition: all 500ms;
}

.animated-page-enter {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transform: translate(40px, 0);
}

.animated-page-enter.animated-page-enter-active {
  opacity: 1;
  visibility: visible;
  height: auto;
  transform: translate(0, 0);
}

.animated-page-leave {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.animated-page-leave.animated-page-leave-active {
  transform: translate(-40px, 0);
  opacity: 0;
  visibility: visible;
}

// .slide-enter {
//   opacity: 0;
//
//   transform: translate(50px, 0);
//   transition-delay: 25s;
// }
// .slide-enter.slide-enter-active {
//   transform: translate(0, 0);
//   opacity: 1;
//   transition: all 1000ms;
// }
// .slide-leave {
//   transform: translate(0, 0);
//   opacity: 1;
//   transition: all 1000ms;
// }
//
// .slide-leave.slide-leave-active {
//   transform: translate(-50px, 0);
//   opacity: 0;
//
// }
//
// .slide-back-enter{
//   transform: translate(-100%);
// }
//
// .slide-back-enter.slide-back-enter-active {
//   transform: translate(0%);
//   transition: transform 1000ms ease-in-out;
// }
// .slide-back-leave {
//   transform: translate(0%);
// }
// .slide-back-leave.slide-back-leave-active {
//   transform: translate(0%);
//   transition: transform 1000ms ease-in-out;
// }
