.box {
  .box-inner {
    padding: em(25px);
    background-color: $primaryColor;
  }

  &.intro {
    $introFontSize: 22px;

    font-size: em($introFontSize);

    span { color: $secondaryFontColor; }

    h1 {
      margin-bottom: 0;
      font-size: em(26px, $introFontSize);
      display: inline;
      line-height: inherit;
      font-style: italic;
    }
  }
}
